.jumbotron-fluid {
    background-image: url("../img/quiz.jpg");
}
.display-4 {
    text-decoration: bold;
}
.quiz {
    margin-top: 50px !important;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 0.5rem 2rem 1rem 2rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}

button {
    background-color: #d9edff;
    border: none;
    padding: 16px 32px;
    text-align: center;
    margin: 4px 2px;
    opacity: 0.6;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.95rem;
    font-weight: 500;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    vertical-align: middle;
  }

button:hover {opacity: 1}


